<div class="center padded white-bg">
    <div class="content paded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construido!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>mailer app</h3>
                <p>es una aplicacion que envia correos a travez de la API de Sengrid </p>
                <a class="orange" target="_blank" href="#">link_aqui</a>
            </div>
            <div class="card third">
                <h3>gestor de clientes</h3>
                <p>es una aplicacion para gestionar mis clientes </p>
                <a class="orange" target="_blank" href="#">link_aqui</a>
            </div>
            <div class="card third">
                <h3>gestor de tareas</h3>
                <p>es una aplicacion para administrar mis tareas </p>
                <a class="orange" target="_blank" href="#">link_aqui</a>
            </div>

        </div>
    </div>

</div>